div {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    outline: 2px solid blue;
   /* … ??? ...*/
    display: inline-block;
    font-family: sans-serif;
    font-size: 3.5rem;
    text-align: center;
}
