header{
    background-color: lightpink;
    border: 1px solid #000000;
    height: 300px;
}
aside{
    background: lightskyblue;
    border: 1px solid #000000;
}
main{
    background: olivedrab;

}
footer{
    background-color: deeppink;
    border: 1px solid #000000;
    color: darkblue;
    height: 50px;
}
/*Meniu stilius*/
.meniu > a {
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 0;
    margin-right: 10px;
    border-right: 1px solid black;
    transition: color 1s ease-in-out;
    width: 100px;
}
.meniu > a:last-child {
    border-right: none;
}

.meniu >  a:hover{
color: blue;
    transition: color 1s ease-in-out;
    border-bottom: 1px solid #4e0202;
    font-size: 1.5rem;
}


